@import 'root.css';
@import 'normalize.css';

body {
	background-color: var(--color-page);
	color: var(--color-text);
	font-family: var(--font-family);
	font-size: var(--font-size--md);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: var(--spacing);
	text-align: center;
}

.logo {
	--height-this: 80px;

	background-color: var(--color-primary);
	border-radius: calc(var(--ios-radius) * var(--height-this));
	height: var(--height-this);
	padding: var(--spacing--ty);
	margin-bottom: var(--spacing-sm);
	overflow: visible;
}

.logo path {
	fill: var(--color-primary--fore);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-heading);
	margin-bottom: var(--spacing--sm);
}

h1 {
	font-size: var(--font-size--xl);
}

h2 {
	font-size: var(--font-size--lg);
}

h3 {
	font-size: var(--font-size--md);
}

h4 {
	font-size: var(--font-size--sm);
}

h5 {
	font-size: var(--font-size--ty);
}

h6 {
	font-size: var(--font-size--ty);
}

p {
	font-size: calc(var(--font-size) * 1.2);
	margin-bottom: var(--spacing--lg);
	color: var(--color-text);
}

/* Form styling */
.waitlist-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.waitlist-form label {
	margin-bottom: var(--spacing--ty);
}

/* Form input styles */
.waitlist-form input {
	width: 100%;
	max-width: 400px;
	padding: var(--spacing--sm);
	margin-bottom: var(--spacing);
	border-radius: var(--border-radius);
	outline: none;
	transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Focus state with border animation */
.waitlist-form input:focus {
	box-shadow: 0 0 8px rgba(122, 122, 122, 0.3); /* Slight shadow for extra focus */
}

/* Success/Error messages */
#success-message,
#error-message {
	color: var(--color-primary);
	margin-top: var(--spacing);
}

/* Responsive Design */
@media (max-width: 768px) {
	.cta-button {
		width: 100%;
	}
}

/* Liquid button effect */
.cta-button {
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-color: var(--color-primary);
	color: var(--color-primary--fore);
	padding: 15px 40px;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.cta-button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--color-primary--pale);
	z-index: -1;
	transition: left 0.3s ease;
}

.cta-button:hover:before {
	left: 0;
}

/* Button "loading" animation */
.cta-button.loading {
	cursor: not-allowed;
}

.cta-button.loading:before {
	left: 0;
	animation: loading-animation 1.5s infinite;
}

@keyframes loading-animation {
	0% {
		left: -100%;
	}
	50% {
		left: 100%;
	}
	100% {
		left: -100%;
	}
}

/* Success and error fade in */
#success-message,
#error-message {
	opacity: 100;
	transition: opacity 0.5s ease-in-out;
}

#success-message.hide,
#error-message.hide {
	opacity: 0;
}
