.button {
	border: none;
	border-radius: var(--border-radius, .5rem);
	cursor: pointer;
	margin: var(--spacing--sm, .5rem);
	padding: var(--spacing--sm, 1rem) var(--spacing--md, 2rem);
	position: relative;
	overflow: hidden;
	transition: background-color 0.3s ease;
	width: 100%;
	z-index: 1;
}

.button:before {
	bottom: -100%;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	transition: bottom 0.3s ease;
	width: 100%;
	z-index: -1;
}

.button:hover:before {
	bottom: 0;
}

.button.loading {
	cursor: not-allowed;
}

.button.loading:before {
	bottom: 0;
	animation: loading-animation 1.5s infinite;
}

@keyframes loading-animation {
	0% {
		bottom: -100%;
	}

	50% {
		bottom: 100%;
	}

	100% {
		bottom: -100%;
	}
}

@media (min-width: 768px) {

	.button {
		width: fit-content;
	}

}


/* Primary styles */
.button--primary {
	background-color: var(--color-primary, #000);
	color: var(--color-primary--fore, #FFF);
}

.button--primary:before {
	background: var(--color-primary--pale, #333);
}