/* DEFAULT */
/* Every variable is implemented with a local default */

@import './root.css';
@import './normalize.css';

@import './button.css';
@import './form.css';
@import './text.css';
@import './visibility.css';

body {
	background-color: var(--color-page);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: var(--spacing);
	text-align: center;
}

.logo {
	--height-this: 120px;
	background: var(--color-primary);
	border-radius: calc(var(--ios-radius) * var(--height-this));
	height: var(--height-this);
	padding: var(--spacing--ty);
	margin-bottom: var(--spacing-sm);
	overflow: visible;
}

.logo path {
	fill: var(--color-primary--fore);
}

/* Success/Error messages */
#success-message,
#error-message {
	color: var(--color-primary);
	margin-top: var(--spacing);
}

/* Success and error fade in */
#success-message,
#error-message {
	opacity: 100;
	transition: opacity 0.5s ease-in-out;
}

#success-message.hide,
#error-message.hide {
	opacity: 0;
}