body {
    color: var(--color-text, #333);
    font-family: var(--font-family, 'Arial', sans-serif);
    font-size: var(--font-size--md, 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading, #000);
    margin-bottom: var(--spacing--sm, 1rem);
}

h1 {
    font-size: var(--font-size--xl, 3rem);
}

h2 {
    font-size: var(--font-size--lg, 2rem);
}

h3 {
    font-size: var(--font-size--md, 1rem);
}

h4 {
    font-size: var(--font-size--sm, .75rem);
}

h5 {
    font-size: var(--font-size--ty, .5rem);
}

h6 {
    font-size: var(--font-size--ty, .5rem);
}

p {
    font-size: var(--font-size-md, 1rem);
    margin-bottom: var(--spacing--lg, 3rem);
    color: var(--color-text, #333);
}

.text-sm {
    font-size: var(--font-size--sm, .75rem);
}