<!-- _includes/waiting-list.html -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{site.assets}}/{{site.theme}}/css/styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.assets}}/{{site.theme}}/icons/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.assets}}/{{site.theme}}/icons/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.assets}}/{{site.theme}}/icons/favicon-16x16.png?v=1">
  <link rel="manifest" href="{{site.assets}}/{{site.theme}}/site.webmanifest?v=1">
  <link rel="mask-icon" href="{{site.assets}}/{{site.theme}}/icons/safari-pinned-tab.svg?v=1" color="#df336c">
  <link rel="shortcut icon" href="{{site.assets}}/{{site.theme}}/icons/favicon.ico?v=1">
  <meta name="apple-mobile-web-app-title" content="Conductry">
  <meta name="application-name" content="Conductry">
  <meta name="msapplication-TileColor" content="#df336c">
  <meta name="theme-color" content="#df336c">
</head>

<body>
  <div class="container">
    {% include header.html %}
    {{ content }}
  </div>
  <script src="/assets/js/form-handler.js"></script>
</body>

</html>